<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <header>
        <h1>Literary Lions Forum</h1>
        <nav>
            <a href="/">Home</a>
        </nav>
        <div class="user-space">
            {{ if .Authenticated }}
            <span class="welcome-message">Welcome, <a href="/profile">{{ .Username }}!</a></span>
            <form id="logout-form" action="/logout-handler" method="post" style="display:inline;">
                <button type="submit">Logout</button>
            </form>
            {{ end }}
        </div>
    </header>
    <main class="create-post">
        <h2>Create New Post</h2>
        {{if .Error}}
        <div class="notification notification-error">
            <p>{{.Error}}</p>
        </div>
        {{end}}
            <form method="POST" action="/create-post">
                <label for="category">Category:</label>
                <select name="category" id="category" required>
                    {{range .Categories}}
                    <option value="{{.}}">{{.}}</option>
                    {{end}}
                </select>

                <label for="title">Title:</label>
                <input type="text" name="title" id="title" required>

                <label for="content">Content:</label>
                <textarea name="content" id="content" rows="10" required></textarea>

                <button type="submit">Create Post</button>
            </form>
        {{if .Error}}
        <div class="error">{{.Error}}</div>
        {{end}}
    </main>
    <footer>
        <p>&copy; 2024 Forum</p>
    </footer>
</body>

</html>