<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum Index</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <header>
        <h1>Literary Lions Forum</h1>
        <nav>
            {{ if .Authenticated }}
            <a href="/create-post">Create Post</a>
            {{ else }}
            <a href="/login">Login</a>
            |
            <a href="/register">Register</a>
            {{ end }}
        </nav>
        <div class="user-space">
            {{ if .Authenticated }}
            <span class="welcome-message">Welcome, <a href="/profile">{{ .Username }}!</a></span>
            <form id="logout-form" action="/logout-handler" method="post" style="display:inline;">
                <button type="submit">Logout</button>
            </form>
            {{ end }}
        </div>
    </header>
    <div class="sticky-filter">
        <div class="heading">
            <h2>Posts</h2>
            <div>
                <form action="/" method="GET">
                    <input type="text" name="query" placeholder="Search posts...">
                    <select name="category">
                        <option value="">All Categories</option>
                        <option value="Random">Random</option>
                        <option value="News">News</option>
                        <option value="Sport">Sport</option>
                        <option value="Technology">Technology</option>
                        <option value="Science">Science</option>
                        <option value="Health">Health</option>
                        <!-- Add other categories -->
                    </select>
                    <input type="date" name="start_date">
                    <input type="date" name="end_date">
                    <button type="submit">Search</button>
                </form>

            </div>
        </div>
    </div>
    <main>
        <div class="posts">
            {{range .Posts}}
            <article>
                <h3><a href="/post?id={{.ID}}">{{.Title}}</a></h3>
                <p>{{.Content}}</p>
                <p><strong>Category:</strong> {{.Category}}</p>
                <p><strong>Created by:</strong> {{.Username}}</p>
            </article>
            {{else}}
            <p>No posts found.</p>
            {{end}}
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Forum</p>
    </footer>
</body>

</html>