<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <header>
        <h1>User Profile</h1>
            <nav>
                <a href="/">Home</a>
            </nav>
    </header>
    <main>
        {{if .Error}}
        <div class="notification notification-error">
            <p>{{.Error}}</p>
        </div>
        {{end}}
        <div class="profile-container">
            <img src="/static/img/pic.jpg" alt="Profile Picture" class="profile-pic" style="width: 150px; height: 150px;">
            <h2>{{.Username}}</h2>
            <h3>{{.Email}}</h3>

            <footer>
                <p><h4><a href="/update-profile">Profile Update</a></h4></p>
            </footer>

            <!-- <form action="/delete-profile" method="POST"></form>  -->

        </div>
    </main>
    <footer>
        <p>&copy; 2024 Forum</p>
    </footer>
</body>

</html>