/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-top: 10px;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.user-space {
    margin-top: 10px;
    text-align: center;
}

.welcome-message a {
    color: #ffd700;
    text-decoration: none;
}

.welcome-message a:hover {
    text-decoration: underline;
}

/* Forms and Inputs */
form {
    margin: 20px 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4cae4c;
}

/* Header */
.sticky-filter {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.sticky-filter h2 {

    margin: 0 12rem ;
}

.sticky-filter form,
.sticky-filter .filter-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    max-width: 800px;
    margin: auto;
}

/* Main Content */
main {
    padding: 50px;
    max-width: 800px;
    margin: auto;
}

.posts article {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.posts article h3 {
    margin-top: 0;
}

.icon-container,
.icon2-container {
    margin-top: 10px;
}

.like-button,
.dislike-button {
    background-color: transparent;
    color: #5cb85c;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.like-button:hover,
.dislike-button:hover {
    color: #4cae4c;
}

.notification {
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
}

.notification-error {
    background-color: #f8d7da;
    color: #721c24;
}

.comment {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-left: 5px solid #5cb85c;
    border-radius: 4px;
}

.comment p {
    margin: 5px 0;
}

/* Forms in Main Content */
.create-post,
.create-post form {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: none;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Login and Register Forms */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box h3,
.register-box h3 {
    text-align: center;
}

.login-box,
.register-box {
    background-color: rgba(247, 244, 244, 0);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h2,
.register-box h2 {
    margin: 0 0 20px;
    text-align: center;
}

.login-box form,
.register-box form {
    display: flex;
    flex-direction: column;
}

.textbox {
    margin: 10px 0;
}

.textbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #4cae4c;
}

/* User Profile */
.profile-container {
    text-align: center;
    padding: 20px;
}

.profile-pic {
    border-radius: 50%;
    margin-bottom: 20px;
}

.update button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.update button:hover {
    background-color: #4cae4c;
}
.filter-buttons a {
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
    padding: 5px 5px;
}