/* styles.css */

/* General reset and body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    text-align: center;
}

nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}

main {
    padding: 2em;
}

/* Form and input styles */
form {
    max-width: 600px;
    margin: auto;
    padding: 1em;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: .5em;
    color: #333333;
    display: block;
}

input,
textarea {
    border: 1px solid #CCCCCC;
    padding: .5em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
}

button {
    padding: 0.7em;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Article and section styles */
article,
section {
    background: white;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Specific page styles */

/* index.html */
#posts {
    margin-top: 2em;
}

/* login.html, register.html */
form {
    text-align: left;
}

/* post_detail.html */
#comments {
    margin-top: 2em;
}

/* post.html */
#postForm {
    text-align: left;
}